* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 5200px;
    background-color: #454545;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
/****************************start 1************************************/
.container ul li a{
    height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	letter-spacing: 1px;
    
}
.container ul li a:hover{
    background-color:#FF0060;
	color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
	transition: all ease 0.2s;
}
/* .container .right li a{
    margin-left: 80px;
	padding: 0px 5px;
    
}  */
.container button{
    background-color: #FF0060;
    border: 1px solid #FF0060;
    border-radius: 3px;
    margin-right: 70px;
    margin-top: 45px;
    height: 25px;
    color: white;
}
.container button:hover{
    background-color: #FF9B9B;
	transition: all ease 0.2s;
}

.top_parent {
    background-image: url(../imgs/main.jpg);
    height: 150vh;
    position: relative;
}

.top_parent .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000d9;
}    
    /* #000000a2; */



.top .container {
    display: flex;
    justify-content: space-between;
    border: none;
}

.top .left {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

/* .top .left div {
    margin-right: 10px;
    color: white;
} */

/* .top .right div {
    margin-right: 10px;
    color: white;
} */

/* .top .right button {
    margin-bottom: 10px;
} */

.top .right {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;

}


.top .center img {
    width: 90px;
    margin-left: 50%;

}

/* .top .right button {
    background-color: #FF0060;
    border: 1px solid #FF0060;
    border-radius: 3px;
} */

.overlay .between {
    text-align: center;
    color: #FFF;
    margin-top: 150px;

}
.overlay .between h1{
    font-size: 100px;
}
.overlay .between h2{
    font-size: 50px;
}
.overlay .between button{
    font-size: 25px;
    color: white;
    border: 1px solid #FF0060;
    background-color: #FF0060;
    height: 60px;
}
.overlay .between button:hover{
    background-color: #FF9B9B;
	transition: all ease 0.2s;
}


/***********************************End 1*****************************************/
/***********************************start 2*****************************************/
#about .left,
#about .right{
    width: 50%;
}
#about img{
    
    border: 1px solid;
    max-width: 100%;
}


#about {

    background-color: #454545;
}

#about .container {
    display: flex;
    justify-content: space-between;
    border:none;

}

#about .right {
    margin-left: 70px;
    margin-top: 50px;
    color: #EDE4FF;

}


@media (min-width:500px) and (max-width:900px) {
    .top .container {
        flex-direction: column;
        align-items: center;
    }
}

#about  .bottom h2{
    text-align: center;
    height: 100px;
    margin-top: 70px;
    font-size: 50px;
    color: #EDE4FF;
} 
/***********************************End 2*****************************************/
/*********************************** start 3*****************************************/
#gallary .first{
    display: flex;
}
#gallary .second{
    display: flex;
    
}
#gallary .third{
    display: flex;
}
/* header .photos img{
    /* justify-content: space-between;
    max-width: 25%;
    /* margin: 20px;
    padding: 10px; 
} */
#gallary .first img{
    max-width: 25%;
}
#gallary .second img{
    max-width: 25%;
}
#gallary .third img{
    max-width: 25%;
}

/***********************************End 3*****************************************/
/***********************************start 4*****************************************/
#book-table{
    background-image: url(../imgs/book-table-img.jpg);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#book-table .pic{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000009e;

}
#book-table .pic h2{
    text-align: center;
    margin-top: 110px;
    color: #EDE4FF;
    font-size: 50px;
}
#book-table .center  input{
    /* margin-right: 15px;
    margin-top: 200px; */
    margin-top: 80px;
    margin-left: 20px;
    padding: 12px;
    border:1px solid white;
    width: 23%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    
}
#book-table .butto{
    text-align: center;
    margin-top: 60px;
}
#book-table .butto button{
    margin-top: 50px;
    color: #EDE4FF;
    padding: 12px;
    border: 1px solid #FF0060;
    background-color: #FF0060;
}
#book-table .butto button:hover{
    background-color: #FF9B9B;
	transition: all ease 0.2s;

}

/***********************************End 4*****************************************/
/***********************************Start 5*****************************************/

.top2 h2{
    text-align: center;
    font-size: 70px;
    color: #EDE4FF;
}
.top2{
    text-align: center;
    
}
.top2 button{
    background-color: #FF0060;
    border : 1px solid #FF0060;
    padding: 12px;
    margin-right: 10px;
    color: #EDE4FF;
}
.top2 button:hover{
    background-color: #FF9B9B;
	transition: all ease 0.2s;
}


/***********************************End 5*****************************************/
/***********************************start 6*****************************************/
#blog{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;

}
#blog .left{
    text-align: center;
    border: 1px solid silver;
    color: #EDE4FF;
    
    
    
}
#blog .left .s{
    background-color: #FF0060;
    border: 10px solid #FF0060;
    padding-right: 10px;
    padding-left: 10px;

}


#blog .center .p{
    background-color: #FF0060;
    border: 10px solid #FF0060;
    padding-right: 10px;
    padding-left: 10px;

}
 #blog .right .a{
    background-color: #FF0060;
    border: 10px solid #FF0060 ;
    padding-right: 10px;
    padding-left: 10px;
} 
#blog .center{
    text-align: center;
    border: 1px solid silver;
    color:white;

}
#blog .right{
    text-align: center;
    border: 1px solid silver;
    color: white;
}
#blog .left,
#blog .center,
#blog .right{
    width: 30%;
    margin: 10px;
    
}
#blog .left img{
    margin-bottom: 25px; 
    max-width: 100%;

}
#blog .center img{
    margin-bottom: 25px; 
    max-width: 100%;

}
#blog .right img{
    margin-bottom: 25px; 
    max-width: 100%;

}
/***********************************End 6*****************************************/
/***********************************start 7*****************************************/
#reviews h2{
    text-align: center;
    color:#EDE4FF ;
    margin-top: 100px;
    font-size: 3rem;
}
.all{
    display:flex;
    justify-content: space-between;

}
#reviews .left,
#reviews .center,
#reviews .right{
    width: 30%;
    margin: 10px;
    color:#EDE4FF;
    margin-bottom: 50px;
}
#reviews .left div{
    max-width: 100%;
    font-size: 1.5rem;
    text-align: center;
}
#reviews .left h5{
    max-width: 100%;
    text-align: center;
}
#reviews .left p{
    max-width: 100%;
    text-align: center;
    border :1px solid #FF0060;
}


#reviews .center div{
    max-width: 100%;
    font-size: 1.5rem;
    text-align: center;
}
#reviews .center h5{
    max-width: 100%;
    text-align: center;
}
#reviews .center p{
    max-width: 100%;
    text-align: center;
    border :1px solid #FF0060;
}
#reviews .right div{
    max-width: 100%;
    font-size: 1.5rem;
    text-align: center;
}
#reviews .right h5{
    max-width: 100%;
    text-align: center;
}
#reviews .right p{
    max-width: 100%;
    text-align: center;
    border :1px solid #FF0060;

}
/***********************************End 7*****************************************/
/***********************************start 8*****************************************/
#contact{
    display:flex;
    border: 1px solid silver;   
    
}
#contact .find h2 {
    font-size: 40px;
    margin: 50px;
    color: white;
}
#contact .find p{
    margin: 50px;
    color: white;
} 
#contact .icon{
    margin: 50px;
    color: silver;
}
/***********************************End 8*****************************************/
/***********************************start 9*****************************************/
.collection{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    color:#EDE4FF ;
    text-align: center;
}     
.container{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: silver;
    
}
article .first,
article .second,
article .third{
    width: 30%;
    margin: 10px;
}
article .first h2{
    max-width: 100%;
    color:white;
}
article .first div{
    max-width: 100%;
    color: #EDE4FF;
}
article .second h2{
    max-width: 100%;
    color: white;
}
article .second div{
    max-width: 100%;
    color: #EDE4FF;
}
article .first h2{
    max-width: 100%;
    color: white;
}
article .third div{
    max-width: 100%;
    color: #EDE4FF;
}

/***********************************End 9*****************************************/
/***********************************start 10*****************************************/
.end{
    text-align: center;
    margin-top:10px;
    color: silver;
}
/***********************************End 10*****************************************/


