div{
    height: 200px;
    background-color: rgb(230, 187, 46);
    font-style: italic;
    font-size: 20px;
    border-radius: 15%;
    font-weight: 10px;
    padding: 20px;
}
.t{
    border-top: none;
    border-bottom: red 5px dashed;
    border-right: none;
    border-left: none;

}
.select{
    background-color: rgb(136, 170, 233);
    border-radius: 5px;

}